@{
    ViewBag.Title = "Sobre";
}
<h2>@ViewBag.Title</h2>
  
<p>Nós somos uma Organização Sem Fins Lucrativos que visa Agilizar o cadastro de Lojas e Ruas de Comércio, além de nos comprometer com os consumidores e oferencendo uma ferramenta de pesquisa para as lojas que precisa!</p>

@Html.ActionLink("Voltar ao Menu Principal", "Index")

